<div class="card" *ngIf="event">
    <div class="card-header" >
        <h5 class="card-title">{{event.title | uppercase}} </h5>
        <div class="card-subtitle">
        <span class="badge badge-info">
          {{ event.schedule | date }}
        </span> 
      </div>
      </div>
  <div class="card-body">
    <p>{{ event.description}}</p>
    <h5>Informasi Tiket</h5>
    <ul class="list-group">
      <li *ngFor="let t of tickets" class="list-group-item list-group-item-action" routerLink="/invoice/{{t.id}}">
        {{t.category}}
        <br>
        {{t.price | currency:'IDR':'symbol-narrow'}}
      </li>
  </ul>
  <br>
  <h5>Lokasi Event</h5>
  {{event.location}}
  </div>
  <div class="card-footer text-muted">
      <div class="text-center">- {{event.title}} -</div>
  </div>
</div>
<br>
<button routerLink="/ticket-add/" class="btn btn-outline-primary btn-lg btn-block">Add Tickets</button>
<button (click)="removeEvent()" class="btn btn-danger btn-lg btn-block">Delete Event</button>



