<div class="card" *ngIf="eventData">
  <div class="card-body">
    <h5 class="card-title">Add Event</h5>
    <form>
      <div class="form-group">
        <label>Title Event</label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="eventData.title" class="form-control" placeholder="Event Title"/>
        <br>
        <label>Deskripsi Event</label>
        <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="eventData.description" class="form-control" placeholder="Event Description">
        </textarea>
      <br>
      <label>Lokasi Event</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="eventData.location" class="form-control" placeholder="Event Location"/>
<br>
      <label>Tanggal Event</label>
      <br>
          <ngb-datepicker [ngModelOptions]="{standalone: true}" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        </div> 
        </form>
    <button (click)="addEvent()" class="btn btn-primary">Save</button>
  </div>
</div>

